<mat-toolbar class="menu-top" color="primary">
  <button [style]="{display: isMobile ? '' : 'none'}" (click)="onToggle(drawer)" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>ADCIN</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #drawer class="menu" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <div class="menu-corpo" (click)="onToggle(drawer)">
      <button mat-raised-button color="accent"  type="button">Click</button>
    </div>
  </mat-drawer>

  <div class="corpo">
    <h1>Página do sistema</h1>
  </div>
</mat-drawer-container>
